{
  "SaveName": "YHYXIALHN的惊变",
  "WorldName": "950226",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 481478832,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "YHYXIALHN的惊变",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1770037365,
  "TotalPlayTime": 58849,
  "UpdateTime": 1770033483,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": true,
  "GamePath": "F:\\MCLDownload\\Game\\444037@qq.com\\LanGameHost\\YHYXIALHN的惊变",
  "GUID": "LanGame-70db7b7e-3b7d-4498-857a-94ba8d3a2c37",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4653570272728529914"
    },
    {
      "ID": "4649881173115260221"
    },
    {
      "ID": "4652532855383415059"
    },
    {
      "ID": "4635523327531425944"
    },
    {
      "ID": "4639107382465126359"
    },
    {
      "ID": "4647044516085810443"
    },
    {
      "ID": "4645186920924773253"
    },
    {
      "ID": "4653813687822954928"
    },
    {
      "ID": "4649436439060970759"
    },
    {
      "ID": "4636014911120156518"
    },
    {
      "ID": "4635768417124773424"
    },
    {
      "ID": "4642954855859569482"
    },
    {
      "ID": "4638069956868564376"
    },
    {
      "ID": "4638139298038558551"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4638139298038558551"
    }
  ],
  "RoleList": [
    {
      "awq": false,
      "Name": "小布haly",
      "CreatedTimeStamp": 1769341892,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 22,
  "ServerID": 8420,
  "HasPassword": false,
  "tag_ids": [],
  "item_ids": [],
  "Bundle": false,
  "Update_1_21": false,
  "TradeRebalance": false,
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}