{
  "ResPaths": [
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_4129ef72a4b266746602e0bc088f9cd7_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_4129ef72a4b266746602e0bc088f9cd7_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_23393820309691151d3f3d30d9f88b27_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_23393820309691151d3f3d30d9f88b27_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_9b12ab23d0880f8d660de400a477e891_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_9b12ab23d0880f8d660de400a477e891_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_764eddd422a24819ffe5910a567b66bc_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_764eddd422a24819ffe5910a567b66bc_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_1547354298b89676a4f9731de26b5058_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_1547354298b89676a4f9731de26b5058_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_5686d7337df3ac995994f6c661416a00_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_5686d7337df3ac995994f6c661416a00_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_3dee829918884e6c540776ebc9846ac5_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_3dee829918884e6c540776ebc9846ac5_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_77e71b72c87cdca4a6904bbe7440e3a5_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_77e71b72c87cdca4a6904bbe7440e3a5_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_8d0c87ca0ce9d49e8df3430e50471f87_0",
    "C:\\Users\\48105\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_8d0c87ca0ce9d49e8df3430e50471f87_0"
  ],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}